div.title
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 14px;
}

.title_outer
{
  margin-bottom: 6px;
  margin-top: 14px;
}

.title_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Title
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.Title_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.Title_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  vertical-align: top;
}

.Table_Cell_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Table_Cell_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.important
{
  background-color: #F0F0F0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;
}

.important_outer
{
  background-color: #F0F0F0;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
}

.important_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Section_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Section_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section_Title
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 14px;
}

.Section_Title_outer
{
  margin-bottom: 6px;
  margin-top: 14px;
}

.Section_Title_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Body_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Body_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 48px;
  margin-top: 9px;
  text-indent: -18pt;
}

.List_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.List_1_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.norules-head
{
  border-bottom-color: #0000CC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 9px;
}

.norules-head_outer
{
  border-bottom-color: #0000CC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 9px;
}

.norules-head_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_1_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Figure
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Figure_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Figure_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Figure_Title
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: -6px;
  margin-top: 14px;
}

.Figure_Title_outer
{
  margin-bottom: -6px;
  margin-top: 14px;
}

.Figure_Title_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note
{
  background-color: #F0F0F0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;
}

.Note_outer
{
  background-color: #F0F0F0;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
}

.Note_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Link_List_Title
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 14px;
}

.Link_List_Title_outer
{
  margin-bottom: 6px;
  margin-top: 14px;
}

.Link_List_Title_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Related_Reference
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Related_Reference_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Related_Reference_inner
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.part
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.part_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.part_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ChapterTOC_1
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12pt;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

.ChapterTOC_1_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.ChapterTOC_1_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Child_Topic
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Child_Topic_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Child_Topic_inner
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Chapter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.Chapter_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.Chapter_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Parent_Topic
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Parent_Topic_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Parent_Topic_inner
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_2_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1_Continued
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 48px;
  margin-top: 9px;
}

.List_1_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.List_1_Continued_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Definition_Term
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0pt;
  margin-top: 9px;
}

.Definition_Term_outer
{
  margin-bottom: 0px;
  margin-top: 9px;
}

.Definition_Term_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Definition_Description
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 0pt;
  margin-top: 0px;
}

.Definition_Description_outer
{
  margin-bottom: 6px;
  margin-top: 0px;
}

.Definition_Description_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_3_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_3_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 72px;
  margin-top: 9px;
  text-indent: -18pt;
}

.List_2_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.List_2_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2_Continued
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 72px;
  margin-top: 9px;
}

.List_2_Continued_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.List_2_Continued_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tip
{
  background-color: #F0F0F0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;
}

.tip_outer
{
  background-color: #F0F0F0;
  margin-bottom: 6px;
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
}

.tip_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_4_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.Heading_4_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_2
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 72px;
  margin-top: 9px;
  text-indent: -18pt;
}

.Numbered_2_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Numbered_2_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Preformatted_1
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-left: 48px;
  margin-top: 0px;
  white-space: pre;
}

.Preformatted_1_outer
{
  margin-bottom: 0px;
  margin-top: 0px;
}

.Preformatted_1_inner
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 12px;
  font-weight: normal;
  white-space: pre;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Related_Topic
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

.Related_Topic_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Related_Topic_inner
{
  color: #0000C0;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_3
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 96px;
  margin-top: 9px;
  text-indent: -18pt;
}

.List_3_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.List_3_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 48px;
  margin-top: 9px;
  text-indent: -18pt;
}

.Numbered_1_outer
{
  margin-bottom: 6px;
  margin-top: 9px;
}

.Numbered_1_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Preformatted
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: pre;
}

.Preformatted_outer
{
  margin-bottom: 0px;
  margin-top: 0px;
}

.Preformatted_inner
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 12px;
  font-weight: normal;
  white-space: pre;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.newpage
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.newpage_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.newpage_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.internalheadrule
{
  border-bottom-color: #0000CC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 9px;
  padding-bottom: 0px;
}

.internalheadrule_outer
{
  border-bottom-color: #0000CC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 9px;
  padding-bottom: 0px;
}

.internalheadrule_inner
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.nonumber
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 29px;
}

.nonumber_outer
{
  margin-bottom: 12px;
  margin-top: 29px;
}

.nonumber_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.year
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.summary
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.Citation
{
  font-style: italic;
}

span.external
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.uicontrol
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-weight: bold;
}

span.Link_Text
{
  color: #0000CC;
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.chapter-toc
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.emphasis
{
  font-style: italic;
}

span.heading-no-quotes
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.varname
{
  font-style: italic;
}

span.codeph
{
  font-family: Courier, 'Courier New', Monospace;
}

span.heading-page
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.apiname
{
  font-family: Courier, 'Courier New', Monospace;
}

span.inlinetitle
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-weight: bold;
}

span.term
{
  font-style: italic;
}

span.var-in-uicontrol
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: bold;
}

span.var-in-codeph
{
  font-family: Courier, 'Courier New', Monospace;
  font-style: italic;
}

span.heading
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.Bold
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-weight: bold;
}

span.N_dita_bold
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.N_dita_bold
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
}

span.Bold
{
  font-family: Arial, Verdana, Helvetica, Sans-Serif;
  font-weight: bold;
}

table.note1
{
  background-color: #F0F0F0;
  margin-bottom: 6px;
  margin-top: 8px;
}

table.note2
{
  background-color: #F0F0F0;
  margin-bottom: 6px;
  margin-left: 48px;
  margin-top: 8px;
}

table.NoRules2
{
  margin-left: 48px;
}

table.note3
{
  background-color: #F0F0F0;
  margin-bottom: 6px;
  margin-left: 72px;
  margin-top: 8px;
}

